<p-messages [(value)]="msgs"></p-messages>

<h1 class="text-center mt-3">INFORMACIÓN DE CONTACTO</h1>
<div class="dropdown-divider"></div>

<form [formGroup]="formContacto" class="m-5">
    <div class="text-right">     

    </div>    
    <div class="row mt-3">
        <div class="col-md-6 d-flex">
            <span class="ui-float-label mt-6">
                <input formControlName="direccionResidencia" id="dirResidencia" type="text" size="30" pInputText
                    disabled>
                <label for="float-input">Dirección residencia</label>
            </span>
                <button type="button" class="shadow" (click)="showDirResidencia()" pButton icon="pi pi-plus">
                </button>   



                
        </div>
        <div class="col-md-6">
            <span class="ui-float-label mt-6">
                <input formControlName="telefono" id="telefono" type="text" size="30" pInputText>
                <label for="float-input">Teléfono</label>
            </span>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div *ngIf="formContacto.get('direccionResidencia').hasError('required')" class="text-danger">
                <small>El campo es requerido</small>
            </div>
        </div>
        <div class="col-md-6">
            <div *ngIf="formContacto.get('telefono').hasError('required')" class="text-danger">
                <small>El campo es requerido</small>
            </div>
            <div *ngIf="formContacto.get('telefono').hasError('pattern')" class="text-danger">
                <small>Debes ingresar sólo números</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right mb-3">
            <button pButton class="shadow" label="Guardar" (click)="guardarContacto()">
            </button>
        </div>
    </div>
</form>
    <div class="ui-g">
        <p-table [value]="contactos"> 
            <ng-template pTemplate="header">
                <tr>
                    <th width="50%">DIRECCIÓN</th>
                    <th width="30%">TELÉFONO</th>
                    <th width="20%">EDITAR</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-contacto>
                <tr>
                    <td>{{ contacto.direccionResidencia }}</td>

                    <td>{{ contacto.telefono }}</td>

                    <td class="text-center">
                        <button class="shadow" pButton icon="pi pi-plus"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <p-dialog header="Dirección de residencia" [(visible)]="mostrarDirResidencia">
        <app-direccion *ngIf="mostrarDirResidencia" [residencia]="true" [direccionIN]="direccionResidencia"
            (direccionOut)="recibirDirResidencia($event)">
        </app-direccion>
    </p-dialog>


