<p-messages [(value)]="msgs"></p-messages>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="text-center mt-3">
  <h1>LISTA DE USUARIOS</h1>
</div>

<div class="text-right mr-5 mb-5">
    <button pButton type="button" routerLink="/crear" label="Agregar" class="ui-button-rounded ui-button-warning"></button>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <p-table [value]="usuarios" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
      <tr>
          <th>Identificación</th>
          <th>Nombre</th>
          <th>Editar</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-usuario>
      <tr>
          <td>{{usuario.id}}</td>
          <td>{{usuario.nombre}} {{usuario.apellido}}</td>
          <td class="text-center">
            <button (click)="confirmarEliminar(usuario.id, usuario.nombre)" pButton type="button" label="Eliminar" class="ui-button-rounded mr-3 shadow"></button>
            <button [routerLink]="['/crear', usuario.id]" pButton type="button" label="Editar" class="ui-button-rounded ml-3 shadow"></button>
          </td>
      </tr>
  </ng-template>
</p-table>
  </div>
  <div class="col-md-1"></div>

</div>
