<p-messages [(value)]="msgs"></p-messages>

<form [formGroup]="form" class="m-3">

  <input type="text" placeholder="{{ direccionCompleta }}" class="form-control">

  <span class="ui-float-label mt-4">
    <p-dropdown [options]="tiposVia" formControlName="via" (onChange)="impresionDireccion('tiposVia.label')">
  </p-dropdown>
  <label for="float-input">Tipo Via</label>
</span>
<div *ngIf="form.get('via').hasError('required')" class="text-danger">
    <small>El campo es requerido</small>
</div>

<span class="ui-float-label mt-4">
  <input formControlName="numero1" id="numero1" type="text" size="30" pInputText (keyup)="impresionDireccion()">
  <label for="float-input">Número</label>
</span>
<div *ngIf="form.get('numero1').hasError('required')" class="text-danger">
    <small>El campo es requerido</small>
</div>
<div *ngIf="form.get('numero1').hasError('pattern')" class="text-danger">
    <small>Debes ingresar sólo números</small>
</div>

<span class="ui-float-label mt-4">
  <input formControlName="letra1" id="letra1" (keyup)="impresionDireccion()" type="text" size="30" pInputText>
  <label for="float-input">Letra(s)</label>
</span>
<div *ngIf="form.get('letra1').hasError('pattern')" class="text-danger">
    <small>Debes ingresar sólo letras</small>
</div>

<span class="ui-float-label mt-4">
  <input formControlName="numero2" (keyup)="impresionDireccion()" id="numero2" type="text" size="30" pInputText>
  <label for="float-input">Número</label>
</span>
<div *ngIf="form.get('numero2').hasError('pattern')" class="text-danger">
    <small>Debes ingresar sólo números</small>
</div>
<div *ngIf="form.get('numero2').hasError('required')" class="text-danger">
    <small>El campo es requerido</small>
</div>

<span class="ui-float-label mt-4">
  <input formControlName="letra2" (keyup)="impresionDireccion()" id="letra2" type="text" size="30" pInputText>
  <label for="float-input">Letra(s)</label>
</span>
<div *ngIf="form.get('letra2').hasError('pattern')" class="text-danger">
    <small>Debes ingresar sólo letras</small>
</div>

<button pButton type="button" (click)="continuar()" label="Guardar" class="shadow ui-button-raised ui-button-secondary btn-block mt-3">
  </button>

</form>

