<p-messages [(value)]="msgs"></p-messages>
<h1 class="text-center mt-3">INFORMACIÓN BÁSICA</h1>
<div class="dropdown-divider"></div>

<form [formGroup]="form" class="m-5">
        <div class="row">
                <div class="col-md-9">
                        <div class="row">
                                <div class="col-md-6">
                                        <!-------------------->
                                        <!-- TIPO DOCUMENTO -->
                                        <!-------------------->
                                        <p-dropdown [options]="tDocumento" optionLabel="label"
                                                formControlName="tipo_documento" width="100%">
                                        </p-dropdown>
                                        <div *ngIf="form.get('tipo_documento').hasError('required')"
                                                class="text-danger">
                                                <small>El campo es requerido</small>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <!------------------->
                                        <!-- No. DOCUMENTO -->
                                        <!------------------->
                                        <span class="ui-float-label">
                                                <input formControlName="documento" id="documento" type="text" size="30"
                                                        pInputText>
                                                <label for="float-input">Documento</label>
                                        </span>
                                        <div *ngIf="form.get('documento').hasError('pattern')" class="text-danger">
                                                <small>Ingrese solo números</small>
                                        </div>
                                        <div *ngIf="form.get('documento').hasError('required')" class="text-danger">
                                                <small>El campo es requerido</small>
                                        </div>
                                </div>
                        </div><!-- end row -->
                        <div class="row">
                                <div class="col-md-6">
                                        <!------------>
                                        <!-- NOMBRE -->
                                        <!------------>
                                        <span class="ui-float-label mt-4">
                                                <input formControlName="nombre" id="nombre" type="text" size="30"
                                                        pInputText>
                                                <label for="float-input">Nombres</label>
                                        </span>
                                        <div *ngIf="form.get('nombre').hasError('pattern')" class="text-danger">
                                                <small>Ingrese solo letras</small>
                                        </div>
                                        <div *ngIf="form.get('nombre').hasError('maxlength')" class="text-danger m-0">
                                                <small>Ingrese un nombre apropiado</small>
                                        </div>
                                        <div *ngIf="form.get('nombre').hasError('minlength')" class="text-danger">
                                                <small>Complete el nombre</small>
                                        </div>
                                        <div *ngIf="form.get('nombre').hasError('required')" class="text-danger">
                                                <small>El campo es requerido</small>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <!-- APELLIDOS -->
                                        <span class="ui-float-label mt-4">
                                                <input formControlName="apellido" id="apellido" type="text" size="30"
                                                        pInputText>
                                                <label for="float-input">Apellidos</label>
                                        </span>
                                        <div *ngIf="form.get('apellido').hasError('pattern')" class="text-danger">
                                                <small>Ingrese solo letras</small>
                                        </div>
                                        <div *ngIf="form.get('apellido').hasError('maxlength')" class="text-danger m-0">
                                                <small>Ingrese un apellido apropiado</small>
                                        </div>
                                        <div *ngIf="form.get('apellido').hasError('minlength')" class="text-danger">
                                                <small>Complete el apellido</small>
                                        </div>
                                        <div *ngIf="form.get('apellido').hasError('required')" class="text-danger">
                                                <small>El campo es requerido</small>
                                        </div>
                                </div>
                        </div><!-- end row -->
                        <div class="row">
                                <div class="col-md-6">
                                        <!-- FECHA DE NACIMIENTO -->
                                        <span class="ui-float-label mt-4">
                                                <p-calendar formControlName="fecha_nacimiento" dateFormat="dd/mm/yy"
                                                        [yearNavigator]="true" yearRange="1917:3030" [locale]="es"
                                                        (ngModelChange)="calcularEdad()"
                                                        placeholder="Fecha de nacimiento">
                                                </p-calendar>
                                        </span>
                                        <div *ngIf="form.get('fecha_nacimiento').hasError('required')"
                                                class="text-danger">
                                                <small>El campo es requerido</small>
                                        </div>
                                </div>
                                <div class="col-md-6">
                                        <!-- EDAD -->
                                        <span class="ui-float-label mt-4">
                                                <input formControlName="edad" id="edad" type="text" size="30"
                                                        pInputText>
                                                <label for="float-input">Edad</label>
                                        </span>
                                        <div *ngIf="form.get('edad').hasError('required')" class="text-danger">
                                                <small>El campo es requerido</small>
                                        </div>
                                </div>
                        </div><!-- end row -->
                        <div class="row">
                                <div class="col-md-12 mt-4">
                                        <!-- LUGAR DE NACIMIENTO -->
                                        <p-dropdown [options]="ciudad" optionLabel="label"
                                                formControlName="lugar_nacimiento">
                                        </p-dropdown>
                                        <div *ngIf="form.get('lugar_nacimiento').hasError('required')"
                                                class="text-danger">
                                                <small>El campo es requerido</small>
                                        </div>
                                </div>
                        </div>
                </div><!-- end col-9 -->
                <div class="col-md-3">
                        <div class="avatar text-center">
                                <img src="/../assets/img/avatar.png" width="200" height="" alt="">
                        </div>
                        <div class="text-center">
                                <button pButton type="button" (click)="guardar()" label="Guardar"
                                        class="m-3 shadow ui-button-raised ui-button-primary">
                                </button>
                        </div>
                </div>
        </div>
        <div class="row">

                <div class="col-md-4">








                </div>
                <div class="col-md-4">






                </div>

                <div class="col-md-4">


                </div>
        </div>

</form>