
<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-tabView class="shadow">
          <p-tabPanel header="Información Básica">
            <app-informacion-basica
            [personaID]="idUsuario">
          </app-informacion-basica>
          </p-tabPanel>
          <p-tabPanel header="Información de contacto">
            <app-contactos
            [personaID]="idUsuario">
          </app-contactos>
          </p-tabPanel>
          <p-tabPanel header="Referencias">
            <app-referencia></app-referencia>
          </p-tabPanel>
          <p-tabPanel header="Finalizar">
            <app-finalizar></app-finalizar>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
  <div class="ui-g-1"></div>
</div>
