/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face{
    font-family: Permanent Marker;
    src: url(assets/font/PermanentMarker-Regular.ttf)
}

.logo{
    font-family: 'Permanent Marker';
    font-size: 2.5rem;
}
.font-one{
    font-family: 'Permanent Marker';
}
.font-two{
    font-family: 'Open Sans';
}